<div class="cf pa2 container-gal">
        <div class="fl w-50 w-25-m w-25-l pa2 imgal">
                <img src="/img/pict3.jpg" />
        </div>

        <div class="fl w-50 w-25-m w-25-l pa2 imgal">
                <img src="/img/pict5.jpg" />
        </div>

        <div class="fl w-50 w-25-m w-25-l pa2 imgal">
                <img src="/img/pict4.jpg" />
        </div>

        <div class="fl w-50 w-25-m w-25-l pa2 imgal">
                <img src="/img/pitc1.jpg" />
        </div>

        <div class="fl w-50 w-25-m w-25-l pa2 imgal">
                <img src="/img/pict5.jpg" />
        </div>

        <div class="fl w-50 w-25-m w-25-l pa2 imgal">
                <img src="/img/pict6.jpg" />
        </div>

        <div class="fl w-50 w-25-m w-25-l pa2 imgal">
                <img src="/img/pict9.jpg" />
        </div>

        <div class="fl w-50 w-25-m w-25-l pa2 imgal">
                <img src="/img/pict7.jpg" />
        </div>

</div>