@import url('href="https://fonts.googleapis.com/css?family=Nunito:700|Roboto');

body{
    font-family: 'Roboto', sans-serif;
}

h1, h2{
	font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

h3, p, a{
	font-family: 'Roboto', sans-serif;
}

.font-light{
    font-weight: 300;
}

.font-regular, .font-medium, .font-bold{    
    font-weight: 400;
}
