<div class="cover bg-left bg-center-l logo">
        <img src="/img/logo.jpg" class="log">
</div>
        <div class="bg-black-80 pb1 pb1-m pb1-l">
                <nav class="pa3 pa4-ns">
                        <div class="tc pb3">
                                <menu></menu>
                        </div>
                </nav>
        </div>

<div class="dt-row txt">
        <div class="fl w-100 pa5 boxtxt">
                <h2 class="title">LOREM IPSUM DOLOR SIT AMET, CONSECTETUR ADIPISCING ELIT.</h2>
                <p class="ragraf">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                        eu fugiat nulla pariatur. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                        eu fugiat nulla pariatur.</p>
                <a href="#" class="phone-link tc  font-bold"><i class="fa fa-phone"></i>05 00 00 00 00</a>

        </div>

</div>

<galery></galery>

<div class="dt-row info">
        <div class="fl w-100 pa5 boxinfo">
                <div class="fl w-100 pa5 heure">
                        <i class="fa fa-clock-o horloge"></i>
                        <h3>Horaires</h3>
                        <p>Lun au Sam<br />09h - 19h</p>
                        <div class="cf"></div>
                </div>
                <div class="fl w-100 pa5 lieu">
                        <i class="fa fa-map-marker mark"></i>
                        <h3>Adresse</h3>
                        <p>123 avenue du Général Leclerc<br />33000 BORDEAUX</p>

                </div>

        </div>

</div>

<div class="w-100 social-links tc linke">

        <div class="tc dib res">
                <a href="#"><i class="fa fa-w fa-facebook"></i></a>
        </div>
        <div class="tc dib res">
                <a href="#"><i class="fa fa-w fa-twitter"></i></a>
        </div>
        <div class="tc dib res">
                <a href="#"><i class="fa fa-w fa-instagram"></i></a>
        </div>
        <div class="tc dib res">
                <a href="#"><i class="fa fa-w fa-youtube-play"></i></a>
        </div>
        <div class="tc dib res">
                <a href="#"><i class="fa fa-w fa-tripadvisor"></i></a>
        </div>
        <div class="tc dib res">
                <a href="#"><i class="fa fa-w fa-yelp"></i></a>
        </div>
        <div class="tc dib res">
                <a href="#"><i class="fa fa-w fa-pinterest-p"></i></a>
        </div>
        <div class="tc dib res">
                <a href="#"><i class="fa fa-w fa-google-plus"></i></a>
        </div>
        
</div>

</div>

<div class="dt-row txt">
<div class="w-100 links">
        <a href="#" class="contact-links tc font-bold"><i class="fa fa-envelope-o"></i>Contact</a>
</div>
</div>

<div class="dt-row txt ">
<div class="w-100 bas">
        <p class="foot">&copy; 2016 - Site réalisé facilement avec <a href="#">popsite</a></p>
</div>
</div>